:root {
    --black-bg: #242121;
    --text-black: #221919;
    --text-light: #f4f4f4;
    --second-bg: #679186;
    --linkedin: #0e76a8;
    --github: black;
    --mail: pink;
    --scroll-bar: #f5d9ef;
}